TOKEN=
CLIENT_ID=
CLIENT_SECRET=

REDIS_HOST=discord_redis
REDIS_PORT=6379
REDIS_PASSWORD=

GMAIL_EMAIL=
GMAIL_PASSWORD=

JWT_ALGORITHM="HS256"
JWT_ACCESS_TOKEN_LIFETIME_MINUTES="15"
JWT_REFRESH_TOKEN_LIFETIME_DAYS="5"
JWT_SECRET_KEY=

YM_TOKEN=

REDIRECT_URI="https://helper.nelocal.host/callback"
AUTH_URI="https://discord.com/oauth2/authorize?client_id=1403029892387569766&response_type=code&redirect_uri=https%3A%2F%2Fhelper.nelocal.host%2Fcallback&scope=identify+guilds"
TOKEN_URI="https://discord.com/api/oauth2/token"
USER_URI="https://discord.com/api/users/@me"
GUILDS_URI="https://discord.com/api/users/@me/guilds?with_counts=true"
GUILD_MEMBERS_URI="https://discord.com/api/guilds/{guild_id}/members?limit=1000"
KICK_URI="https://discord.com/api/guilds/{guild_id}/members/{user_id}"
BAN_URI="https://discord.com/api/guilds/{guild_id}/bans/{user_id}"

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=DiscordBot
POSTGRES_HOST=discord_database
POSTGRES_PORT=5555


