TOKEN=
CLIENT_ID=
CLIENT_SECRET=

REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=

GMAIL_EMAIL=
GMAIL_PASSWORD=

JWT_ALGORITHM=
JWT_ACCESS_TOKEN_LIFETIME_MINUTES="
JWT_REFRESH_TOKEN_LIFETIME_DAYS=

YM_TOKEN=

REDIRECT_URI=
AUTH_URI=
TOKEN_URI=
USER_URI=

POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_HOST=
POSTGRES_PORT=


